/* titles */
.title
{
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-text-fill: #0f92ba;
}

/* background */
.root
{
    -fx-font-size: 10pt;
    -fx-background-color: linear-gradient(from 250px 250px to 750px 750px,#bce9f7,#62b7d1);
}

/* buttons */
.button
{
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
    -fx-background-radius: 20px;
}

/* text of labels in grid pane */
.gridPaneText
{
    -fx-font-size: 12pt;
}